* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.required-label {
  position: relative;
}
.required-label:before {
  content: "*";
  display: block;
  position: absolute;
  left: -10px;
  top: -3px;
  color: red;
}
body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .left {
  width: 140px;
  height: 100vh;
  background: #333;
  overflow: auto;
  padding-top: 20px;
  font-family: Verdana;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
}
body .left ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body .left ul li a {
  color: #f0f0f0;
  display: block;
  padding: 10px;
}
body .left ul li:hover {
  box-shadow: 0 0 8px 0 #000 inset;
}
body .left ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
body .right {
  width: calc(100% - 140px);
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 140px;
}
.panels {
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.panels .panel {
  min-width: 400px;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 4px -1px #aaaaaa;
  background-color: #fafafa;
  display: flex;
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.panels .panel h2 {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}
.panels .panel .body {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.panels .panel .body table td {
  padding: 10px;
}
.panels .panel .body table td:first-child:after {
  content: ":";
  float: right;
  margin-left: 10px;
}
.panels .panel .body table td textarea {
  width: 500px;
  height: 200px;
}
.panels .panel .body table td select,
.panels .panel .body table td input {
  min-width: 200px;
}
.panels .panel .body table td .image-container .image-wrapper {
  display: inline-block;
  height: 120px;
  margin: 5px;
  position: relative;
  cursor: pointer;
}
.panels .panel .body table td .image-container .image-wrapper img {
  height: 120px;
}
.panels .panel .body table td .image-container .image-wrapper:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.panels .panel .body table td .image-container .image-wrapper:hover:after {
  content: "SİL";
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -16px;
  top: 50%;
  margin-top: -8px;
}
.panels .panel .body table td .image-container .image-wrapper.silinecek:hover:after {
  content: "SİLME";
  margin-left: -24px;
}
.panels .panel .body table td .image-container .image-wrapper .sil-label {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 5px;
  background: #933;
  box-shadow: 0 0 2px 0 #000;
}
.panels .panel .body table td .image-container .image-wrapper .sil-label:after {
  content: "Silinecek";
}
.panels .panel .actions {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
}
.panels .panel .actions:before,
.panels .panel .actions:after {
  content: "";
  display: block;
  clear: both;
}
.panels .panel .actions button {
  padding: 10px;
  float: right;
}
.panels .panel .actions button:not(:first-child) {
  margin-right: 4px;
}
/*# sourceMappingURL=admin.css.map */