<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teknoem.bestebe"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.te5.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.te5.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.te5.pushnotification.RECEIVER" />

    <permission
        android:name="com.example.te5.pushnotification.RECEIVER"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.teknoem.bestebes.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Anasayfa"
            android:label="@string/title_activity_anasayfa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Kayit1"
            android:label="@string/title_activity_kayit1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Kayit2"
            android:label="@string/title_activity_kayit2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Kayit3"
            android:label="@string/title_activity_kayit3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Kayit4"
            android:label="@string/title_activity_kayit4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Kayit5"
            android:label="@string/title_activity_kayit5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Soru1"
            android:label="@string/title_activity_soru1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Dogru"
            android:label="@string/title_activity_dogru"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Yanlis"
            android:label="@string/title_activity_yanlis"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Soru2"
            android:label="@string/title_activity_soru2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Soru3"
            android:label="@string/title_activity_soru3"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Soru4"
            android:label="@string/title_activity_soru4"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Soru5"
            android:label="@string/title_activity_soru5"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.PuanDurumu"
            android:label="@string/title_activity_puan_durumu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.PuanSiralamasi"
            android:label="@string/title_activity_puan_siralamasi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.GPuanSiralamasi"
            android:label="@string/title_activity_gpuan_siralamasi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Profil"
            android:label="@string/title_activity_profil"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Bilgiler"
            android:label="@string/title_activity_bilgiler"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.SoruyuPaylas"
            android:label="@string/title_activity_soruyu_paylas" >
        </activity>

        <receiver
            android:name="tr.com.turkcellteknoloji.pushnotificationsdk.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.te5" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.teknoem.bestebes.PushNotificationReceiver"
            android:permission="com.example.te5.pushnotification.RECEIVER" >
            <intent-filter>
                <action android:name="tr.com.turkcellteknoloji.pushnotificationsdk.RECEIVER" />

                <category android:name="com.example.te5" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.teknoem.bestebes.Surenizdoldu"
            android:label="@string/title_activity_surenizdoldu" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.teknoem.bestebes.Networkkontrol"
            android:label="@string/title_activity_networkkontrol" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Hata"
            android:label="@string/title_activity_hata" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Oduller"
            android:label="@string/title_activity_oduller" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.Face"
            android:label="@string/title_activity_face" >
        </activity>
        <activity
            android:name="com.teknoem.bestebes.KullaniciSoru"
            android:label="@string/title_activity_kullanici_soru" >
        </activity>
    </application>

</manifest>
