<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otelotomasyonu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.otelotomasyonu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.otelotomasyonu.MainActivitygiris"
            android:label="@string/title_activity_main_activitygiris" >
            <intent-filter>
                <action android:name="android.intent.action.giris" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.otelotomasyonu.MainGirisActivity"
            android:label="@string/title_activity_main_giris" >
        </activity>
        <activity
            android:name="com.example.otelotomasyonu.MainSiparisActivity"
            android:label="@string/title_activity_main_siparis" >
        </activity>
        <activity
            android:name="com.example.otelotomasyonu.MainYenekActivity"
            android:label="@string/title_activity_main_yenek" >
        </activity>
        <activity
            android:name="com.example.otelotomasyonu.MainAnaActivity"
            android:label="@string/title_activity_main_ana" >
        </activity>
    </application>

</manifest>
