@model List<CafeBlog.DTO.CategoryDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Kategori
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="/Admin">Giriş</a>
            </li>
            <li class="active">
                <i class="fa fa-table"></i> Kategoriler
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Yeni ekle", "Create")
        @*<a href="/Admin/Category/Create">Yeni ekle</a>*@

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Adı</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CafeBlog.DTO.CategoryDTO cat in Model)
                    {
                        <tr>
                            <td>@cat.Name</td>
                            <td>@Html.ActionLink("Düzenle", "Edit", new { id = cat.Id })</td>
                            <td>@Html.ActionLink("Sil", "Delete", new { id = cat.Id })</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<!-- /.row -->